<div>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"rel="stylesheet" />
        <link rel="stylesheet" href="./css/styles.css">
        <title>Mercado Liebre</title>
    </head>
    <body>
        <header>
            <div class="main-content">
                <img src="./images/logo-mercado-liebre.svg" alt="logo_principal">
                <div class="search-container">
                    <form action="">    
                        <label for="">
                            <input type="search" id="busqueda" placeholder="Buscar productos, marcas"><i class="fa-solid fa-magnifying-glass"></i>
                        </label>
                    </form>
                </div>
                <p id="cuotas"><i class="fa-sharp fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de credito</p>
                <!-- <br> -->
            </div>
            <nav>
                <ul class="items-1">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="items-2">
                    <li><a href="./register">Creá tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
                    <li><a href="./login">Ingresa</a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                    <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
                    </ul>
                </nav>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
                
        </header>
        <main>
            <section class="main__exchange-container">
                <div class="banner">
                <img src="./images/img-home-banner.jpg" alt="">
            </div>
            <div class="title__main">
                <h2>Sección: Basado en tu última visita</h2>
            </div>
            <article class="section-1">
                <div class="product">
                    <img src="./images/img-cafetera-moulinex.jpg" alt="cafetera">
                    <div class="infoProduct">
                        <i class="fa-sharp fa-solid fa-truck"></i>
                        <p>$6.770</p>
                        <p>40% OFF</p>
                        <p class="text-animation">Cafetera Moulinex</p>
                    </div>
                </div>
                <div class="product">
                    <img src="./images/img-macbook-pro-2019.jpg" alt="macbook">
                    <div class="infoProduct">
                        <i class="fa-sharp fa-solid fa-truck"></i>
                        <p>$230.000</p>
                        <p>20% off</p>
                        <p class="text-animation">Macbook Pro 2019</p>
                    </div>
                </div>
                <div class="product">
                    <img src="./images/img-samsung-galaxy-s10.jpg" alt="samsung s10">
                    <div class="infoProduct">
                        <i class="fa-sharp fa-solid fa-truck"></i>
                        <p>$70.500</p>
                        <p>10% off</p>
                        <p class="text-animation">Samsung Galaxy S10</p>
                    </div>
                </div>
                    <div class="product">
                        <img src="./images/img-tv-samsung-smart.jpg" alt="smart tv">
                        <div class="infoProduct">
                            <i class="fa-sharp fa-solid fa-truck"></i>
                            <p>$23.200</p>
                            <p>5% off</p>
                            <p class="text-animation">Smart Tv Samsung 43"</p>
                        </div>
                        </div>
                    </article>
                    <div class="title__main">
                        <h2>Sección de ofertas: </h2>
                    </div>
                <article class="section-2">
                    <div class="product">
                        <img src="./images/img-cafetera-moulinex.jpg" alt="cafetera">
                        <div class="infoProduct">
                            <i class="fa-sharp fa-solid fa-truck"></i>
                            <p>$6.770</p>
                            <p>40% OFF</p>
                            <p class="text-animation">Cafetera Moulinex</p>
                        </div>
                    </div>
                    <div class="product">
                        <img src="./images/img-macbook-pro-2019.jpg" alt="macbook">
                        <div class="infoProduct">
                            <i class="fa-sharp fa-solid fa-truck"></i>
                            <p>$230.000</p>
                            <p>20% off</p>
                            <p class="text-animation">Macbook Pro 2019</p>
                        </div>
                    </div>
    
                    <div class="product">
                        <img src="./images/img-samsung-galaxy-s10.jpg" alt="samsung s10">
                        <div class="infoProduct">
                            <i class="fa-sharp fa-solid fa-truck"></i>
                            <p>$70.500</p>
                            <p>10% off</p>
                            <p class="text-animation">Samsung Galaxy S10</p>
                        </div>
                    </div>
                    <div class="product">
                        <img src="./images/img-tv-samsung-smart.jpg" alt="smart tv">
                        <div class="infoProduct">
                            <i class="fa-sharp fa-solid fa-truck"></i>
                            <p>$23.200</p>
                            <p>5% off</p>
                            <p class="text-animation">Smart Tv Samsung 43"</p>
                        </div>
                    </div>
    
                </article>
            </section>
        </main>
        <footer>
        <section class="footer__container">
            <div class="footer__container-info">
                <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en <br>
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="footer__container-info">
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de <br>
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="footer__container-info">
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, <br>
                    porque estás siempre protegid@.</p>
            </div>
        </section>
        </footer>
    </body>
    </html> 
</div>